<div class="relative w-screen h-screen">
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="w-full max-w-md">
      <%= render 'input_field' %>
      <%= render 'weather_component' %>
    </div>
  </div>
</div>