<div class="relative w-screen h-screen">
  <div class="absolute inset-0 flex items-center justify-center">
    <div class="w-full max-w-md">
      <%= render "weather_forecasts/input_field" %>
      <%= turbo_frame_tag "weather" do %>
        <%= render partial: "weather_forecasts/placeholder" %>
      <% end %>
    </div>
  </div>
</div>