<%= turbo_frame_tag :weather_forecast_extended do %>
  <div>
    <h1 class="font-bold text-4xl">WeatherForecasts#extended</h1>
    <p>Find me in app/views/weather_forecasts/extended.html.erb</p>
  </div>
<% end %>